$white: #fff
$black: #000
$red: #f00
$green: #0f0
$blue: #00f
$grey: #F4F6F9

@mixin inverse($bgColor: #fff, $color: #000)
    background-color: $bgColor !important
    color: $color !important

@mixin inverseHover($bgColor: #fff, $color: #000)
    @include inverse($bgColor: $color, $color: $bgColor)

@mixin flex($direction: row, $justify-content: flex-start, $align-items: flex-start, $grow: 0)
    display: flex !important
    flex-direction: $direction
    justify-content: $justify-content
    align-items: $align-items
    flex-grow: $grow

@mixin border($size: 1px, $type: solid, $color: $black)
    border: $size $type $color !important

@mixin box-shadow($horizontalOffset: 2px, $vertialOffset: 2px, $blur: 4px, $spread: -4px, $color: global.$black)
    box-shadow: $horizontalOffset $vertialOffset $blur $spread $color !important

.link
    text-decoration: none

body
    font-family: 'Eczar', serif

h2,h3,h4,h5,h6, p
    font-family: 'Inter', sans-serif

a
    text-decoration: none