@use "_global.sass" as global

.landingPage
    background-image: url("https://t3.ftcdn.net/jpg/02/58/32/94/360_F_258329401_MCy6WUBkklTARuBbYRwENqDYE9ssYrZk.jpg")
    height: 100vh
    background-size: cover

.box
    padding: 1rem 0

.header
    text-align: center

.flex-container
    @include global.flex()

.right-align
    @include global.flex($justify-content: flex-end, $grow: 1)

.small-box
    width: 80%
    margin-top: 2rem

.price-box
    text-align: center
    margin: 10% 0
    height: auto

.grey-background
    background-color: global.$grey

    p
        text-align: left
        margin: 2rem
        font-weight: 700

.modal-box
    position: 'absolute',
    top: '50%',
    left: '50%',
    transform: 'translate(-50%, -50%)',
    width: 400,
    bgcolor: 'background.paper',
    border: '2px solid #000',
    boxShadow: 24,
    p: 4,
