@use "_global.sass" as global

.white-inverse
    @include global.inverse($bgColor: global.$white, $color: global.$red)

.white-inverse:hover
    @include global.inverseHover($bgColor: global.$white, $color: global.$red)

.no-background, .no-background:hover
    background-color: global.$white !important

.landingPageBtn
    font-size: 3rem !important
    width: 30vw
    border-radius: 10% !important

.btn
    padding: 0 !important

.carousel-card-btn
    width: 100%
    height: 100%
    margin: 0 3rem !important

.btn:focus
    outline: none
    box-shadow: none