@use "_global.sass" as global

.red-inverse
    background-color: global.$red !important
    color: global.$white !important

.red-inverse:hover
    color: global.$red !important
    background-color: global.$white !important


.white-inverse
    background-color: global.$white !important
    color: global.$red !important

.white-inverse:hover
    color: global.$white !important
    background-color: global.$red !important

.no-background, .no-background:hover
    background-color: global.$white !important


.btn
    font-size: 3rem !important
    width: 30vw
    border-radius: 10% !important