@use "_global.sass" as global
@use "./text" as text
.icon
    color: global.$red
    margin: 0 2rem

.small-icon
    color: global.$black
    margin: 0 0.5rem

.big-icon
    font-size: text.$header-text-size !important

.caret 
    color: global.$black

.orange
    color: global.$orange

.red
    color: global.$red