@use "_global.sass" as global

#landingPage
    background-image: url("https://t3.ftcdn.net/jpg/02/58/32/94/360_F_258329401_MCy6WUBkklTARuBbYRwENqDYE9ssYrZk.jpg")
    height: 100vh
    background-size: cover

.fullscreen
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    height: 100%
    width: 100%

.heading
    font-family: 'Eczar', serif
    font-size: 10rem
    font-weight: 400
    color: global.$white
    margin: 1rem

    p   
        display: inline