@use "_global.sass" as global

.full-height-container
    @include global.flex($direction: column, $justify-content: center, $align-items: center)
    height: 100vh

.featuredContainer
    display: flex !important
    height: 40vh
    width: 60% !important

.featured-link
    width: 90%

.card
    width: 100%
    height: 100%
    text-align: center
    @include global.border()
    @include global.box-shadow($vertialOffset: 4px, $color: global.$red)
    margin: 1rem 0

.list-item
    font-size: 2rem
    font-family: 'Eczar', serif

.full-width
    width: 100% !important

.textfield
    background-color: global.$white
    margin: 1rem
    width: 80%
    @include global.border-radius($borderRadius: 10%)
    